#top_bar{
    background-color: #f4f2ed;
    padding: 0.1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.container1{
    width: 750px;    
    margin-left: 15%;
    padding-left: 10px;
    padding-right: 10px;
}
.container2{
    margin: auto;
}
#container > div{
    width: 50%;
}
/*.nav-redes{
    margin: auto;
    padding-left: 25%;
    padding-bottom: 10px;
}
.nav-redes li{
    width: 20%;float: left;
    padding-left: 20px;
    text-decoration: none;
}*/
#cabezera2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#contenedor > div{
    width: 50%;
}
body {
    font-family: "Benton Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    color: #666666;
}

#navegador { 
    background-color: #243A96; 
    margin:auto;
    padding: 1em; }
#nav2{
    margin: auto;
    padding-left: 25%;
    padding-bottom: 10px;
}
#navegador li { 
    margin: 0px 5px;
    padding: 0.5em 1em 0.5em 1em;
    background-color: #243A96; 
    width: 10%;float: left;
    text-align: center;
    list-style-type: none; 
    position: relative; }

#subseccion1, #subseccion2, #subseccion3, #subseccion4
             { position: absolute; top: 100%; left: 0px;
             background-color: #243A96; font:normal 0.8em arial;
             padding: 0.2em 0.5em ; display: none; }
#navegador li:hover { background-color: #cfc9cb; }
#navegador li a:link, #navegador li a:visited {
           color: #fffefe; 
           font-size: 13px;
           text-decoration: none; }
#navegador li a:hover, #navegador li a:active {
           color:#000000 ; 
           text-decoration: none; }
.borrar { clear: both; }

.carousel {
    max-width: 1500px;
    margin: auto;
    display: flex;
}
#imagen {
    width: 100%;
    height: 750px;
    background-size: contain;
    
}

